.filters {
    background-color: #fff;
    height: 91px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.locations {
    padding-left: 30px;
    width: 25%;
    border-right: 1px solid #ddd;
}

.filters .amenities {
    width: 25%;
    padding-left: 30px;
}

.filters h3 {
    font-weight: 600;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
}

.filters button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #fff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    margin-left: auto;
}

.filters button:hover {
    opacity: 90%;
}
